<div id="sidenav" role="navigation">
    <nav>
        <h1 id=sidenavTitle>
            Library
        </h1>
        <a class="navItem" routerLink="/" routerLinkActive="active"><i class="fa fa-fw fa-home"></i>Home</a>
        <a class="navItem" routerLink="/connect-4" routerLinkActive="active"><i class="fa fa-fw fa-gamepad"></i>Connect 4</a>
        <a class="navItem" routerLink="/tic-tac-toe" routerLinkActive="active"><i class="fa fa-fw fa-times"></i>Tic-Tac-Toe</a>
        <a class="navItem" routerLink="/beat-saber" routerLinkActive="active"><i class="fa fa-fw fa-cube"></i>Beat Saber</a>

        <!-- <div class="spacer"></div> -->

        <div class="bottomDiv">
            <a class="navItem bottomItem" href="https://github.com/qwerty1954" target="_blank"><i class="fa fa-fw fa-github"></i>Github</a>
            <a class="navItem bottomItem" href="https://www.linkedin.com/in/cloudkanou/" target="_blank"><i class="fa fa-fw fa-linkedin"></i>LinkedIn</a>
        </div>
    </nav>
</div>
