*[role=banner] {
    background-color: darkcyan;
}

#sidenav {
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(135, 170, 250);
    overflow-x: hidden;
    padding-top: 20px;
}

#sidenavTitle {
    text-align: center;
}

.navItem {
    color: blue;
    margin-left: 3%
}
  
#main {
    margin-left: 13%;
}